@font-face {
  font-family: "roboto";
  src: url("/assets/fontes/roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  font-family: "roboto";
}
*{
  padding:0;
  margin:0;
}
